{{>header}}
{{>navbar}}
    {{#if msg}}
        <div class="alert alert-danger">
            {{msg}}
        </div>
    {{/if}}
    <form method="post" >
        <div class="mb-3">
            <input class="form-control" placeholder="name" name="name">
        </div>
        <div class="mb-3">
        <button class="btn btn-primary">add customer</button>
    </div>
    </form>
{{>footer}}